<app-layout>
  <@head>
    <title>Testing Marko, Vite, Vercel</title>
  </@head>
  <@pageHeader>
    <app-header/>
  </@pageHeader>
  <@pageContent>
    <mast 
      title="This is a little test for Marko with Vite with Vercel"
      text="Check out this dynamic route"
      link={
        url: "/product/1",
        label: "Right Here→"
      }
    />
  </@pageContent>
</app-layout>