<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
  <meta name="robots" content="noindex" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=IBM+Plex+Mono:wght@300&display=swap" rel="stylesheet">

  <${input.head}/>
</head>
  <body>
    <${input.pageHeader}/>
    <main.app-main.app-height>
      <${input.pageContent}/>
    </main>
    <app-footer/>
  </body>
</html>
